@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-table-view-table {
  width: 100%;
  padding: 20px;
}

.mdx-table-view-table-title {
  margin-bottom: 32px;
}

.mdx-table-view-row {
  display: flex;
  gap: 20px;
  border-top: 1px solid rgb(var(--lsd-border-primary));
  padding: 24px 0;
}

.mdx-table-view-title {
  width: 100%;
}

.mdx-table-view-description {
  width: 100%;
}

@include utils.responsive('lg', 'down') {
  .mdx-table-view-table-title {
    font-size: 28px !important;
    margin-bottom: 24px;
  }

  .mdx-table-view-row {
    flex-direction: column;
    gap: 32px;
  }
}
