.commentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;

  .username {
    font-weight: bold;
  }

  .date {
    font-weight: lighter;
  }
}
