@use '../../../css/utils';

.firstRow {
  border-top: 1px solid rgb(var(--lsd-text-primary));
  display: flex;
  flex-direction: row;
  margin-bottom: 96px !important;
}

.secondRow {
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgb(var(--lsd-border-primary));
}

.backToTop {
  width: fit-content;
  position: absolute;
  bottom: 16px;
  left: 16px;
}

@include utils.responsive('lg', 'down') {
  :global {
    .footer {
      --ifm-footer-padding-horizontal: var(--content-padding);
    }
  }

  .firstRow {
  }

  .backToTop {
    margin-top: 76px !important;
    position: relative;
    bottom: 16px;
    left: 16px;
  }
}

@include utils.responsive('sm', 'down') {
  :global {
    .footer {
      --ifm-footer-padding-horizontal: 0;
    }
  }

  .firstRow {
    padding-inline: var(--content-padding) !important;
  }

  .secondRow {
    margin-inline: var(--content-padding) !important;
  }
}
