.root {
  text-decoration: none !important;
}

.root.level1 {
  opacity: 0.1;
  padding-left: 32px;
}

.icon {
  width: 16px;
  height: auto;

  &.fill {
    &,
    & * {
      fill: currentColor;
    }
  }

  &.stroke {
    &,
    & * {
      stroke: currentColor;
    }
  }
}

[data-theme='light'] {
  .icon {
    color: black; // todo: use ifm variables
  }
}

[data-theme='dark'] {
  .icon {
    color: white; // TODO: use ifm variables
  }
}
