@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-ns {
}

.mdx-ns__inner {
  form {
    width: 100%;
    margin-top: 40px;
  }

  .mdx-ns__inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    > * {
      flex-grow: 1;
    }
  }

  .mdx-ns__submit-button {
    margin-top: 40px;
  }

  .mdx-ns__toast {
    width: 100%;
    margin-top: -16px;
    margin-bottom: 24px;
    .lsd-toast__close-button {
      display: none;
    }
  }
}

.mdx-ns__description {
  @include lsd.typography('h3', false);
}

@include utils.responsive('md', 'down') {
  .mdx-ns__description {
    @include lsd.typography('h4', false);
  }

  .mdx-ns__inner {
    form {
      margin-top: 40px;
    }

    .mdx-ns__inputs {
      flex-direction: column;
      gap: 24px;

      & > * {
        width: 100%;
      }
    }

    .mdx-ns__submit-button {
      margin-top: 24px;
    }
  }
}
