.icon {
  display: flex;
  &.s {
    svg {
      width: 10px;
    }
  }
  &.m {
    svg {
      width: 20px;
    }
  }
  &.l {
    svg {
      width: 40px;
    }
  }
}

[data-theme='dark'] {
  .icon {
    &.fill {
      &,
      * {
        fill: var(--ifm-color-white);
      }
    }
    &.stroke {
      svg,
      svg * {
        stroke: var(--ifm-color-white);
      }
    }
  }
}

[data-theme='light'] {
  .icon {
    &.fill {
      &,
      * {
        fill: var(--ifm-color-black);
      }
    }
    &.stroke {
      svg,
      svg * {
        stroke: var(--ifm-color-black);
      }
    }
  }
}
