@use '../../css/utils';

.modal {
  > div > div:first-child {
    padding: 0;
  }

  .closeButton {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
}

@include utils.responsive('lg', 'down') {
  .modal {
    .header {
      padding: 12px 16px;
    }

    .closeButton {
      display: block;
      width: 2rem;
      height: 2rem;
    }
  }
}
