@use '../../../css/utils';
// TODO: use ifm variables

.root {
  padding: 24px 0;
}

.noResults {
  padding: 0;
}

.groups {
  max-height: 60vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .group {
  }

  .divider:last-child {
    display: none;
  }
}

[data-theme='dark'] {
  .divider {
    & > div {
      opacity: 0.1;
    }
  }

  .topBar {
    button {
      background-color: var(--ifm-button-color);
    }
  }
}

@include utils.responsive('lg', 'down') {
  .groups {
    max-height: unset;
    overflow: auto;
  }

  .root {
    overflow: auto;
    height: 100%;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 64px;
  }
}
