.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.iml
*.code-workspace
.changelog
.history

node_modules
.yarn

.eslintcache

yarn-error.log
build
coverage
.docusaurus
.cache-loader

packages/logos-*/lib/*
packages/docusaurus-*/lib/*
packages/logos-docusaurus-preset/static/common/data/team.json

lerna-debug.log

packages/docusaurus-playground/static/generated/*
