.mdx-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--ifm-navbar-height) - 8px);
}

.mdx-hero--large {
  //padding-top: 2rem;
  //padding-bottom: 2rem;
  //border-top: none;
}
