@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-hero {
  --default-z-index: 1;
  --hero-max-height: 1080px;

  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--ifm-navbar-height) - 8px);
  max-height: var(--hero-max-height);
  z-index: var(--default-z-index);

  h1 {
    @include lsd.typography('display4');
  }
}

.mdx-hero--large {
  //padding-top: 2rem;
  //padding-bottom: 2rem;
  //border-top: none;
}

.mdx-hero--top {
  justify-content: flex-start;
}

.mdx-hero--center {
  justify-content: center;
}

.mdx-hero--bottom {
  justify-content: flex-end;
}

@include utils.responsive('md', 'down') {
  .mdx-hero {
    justify-content: unset;
    h1 {
      @include lsd.typography('h2');
    }
  }
}
