.Hero {
  .HeroContainer {
    position: relative;
    padding: var(--ifm-alert-padding-horizontal)
      var(--ifm-alert-padding-horizontal);

    border-radius: var(--ifm-global-radius);

    height: 320px;
    display: flex;
    align-items: end;

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 12px;
      position: absolute;
      top: 10px;

      > * {
        display: inline-flex;
        vertical-align: middle;
      }
    }

    .heroTitle {
      margin: 0;
    }
    .heroSubtitle {
      font-size: var(--ifm-h4-font-size);
      color: var(--ifm-color-gray-400);
    }
  }
}

@media (max-width: 996px) {
  .HeroContainer {
    height: 420px !important;
  }

  button {
    width: 100%;
  }

  .heroSubtitle {
    font-size: var(--ifm-h3-font-size) !important;
    line-height: 1.6rem;
    margin-bottom: calc(1.5 * var(--ifm-paragraph-margin-bottom));
    padding-right: 40px;
  }
}
