@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-powered-by {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 1rem;
}

.mdx-powered-by__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem 0;
}

.mdx-powered-by__logo {
  height: 40px;
  width: auto;
}

.mdx-powered-by__name {
  margin-top: 1rem;
}

.mdx-powered-by__description {
  margin-top: 1.5rem;
}

.mdx-powered-by__link {
  margin-top: 1.5rem;
  width: 100%;

  button {
    width: 100%;
    padding: 10px 16px;

    & > span {
      display: block;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@include utils.responsive('lg', 'down') {
  .mdx-powered-by {
    grid-template-columns: 1fr;
  }
}
