@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-showcase {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.mdx-showcase__item {
  border-top: 1px solid rgb(var(--lsd-border-primary));
}

.mdx-showcase__item-inner {
  padding: 24px 8px;
}

.mdx-showcase__item-logo {
}

.mdx-showcase__item-name {
  margin-top: 1rem;
}

.mdx-showcase__item-description {
  border-top: 1px solid rgb(var(--lsd-border-primary));
  margin-top: 24px;
  padding-top: 16px;
}

@include utils.responsive('lg', 'down') {
  .mdx-showcase {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 1rem;
  }

  .mdx-showcase__item-name {
    @include lsd.typography('h6');
  }

  .mdx-showcase__item-description {
    margin-top: 1rem;
  }

  .mdx-showcase__item-logo {
    width: 34px;
    height: auto;
  }
}
