@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-hero-description {
  // we need position relative because we need the z-index to work in order to keep it under the hero model
  position: relative;
  z-index: -2;
  text-shadow: 1px 1px 6px rgba(var(--lsd-surface-primary), 1);
  max-width: 1260px;
  margin-top: 18px;
}

.mdx-hero-description--small {
}

.mdx-hero-description--large {
}

.mdx-hero-description--medium {
}

@include utils.responsive('lg', 'down') {
  .mdx-hero-description {
    @include lsd.typography('subtitle1');

    margin-top: 12px;
  }

  .mdx-hero-description--large {
  }

  .mdx-hero-description--medium {
  }
}
