.mdx-hero-description {
  // we need position relative because we need the z-index to work in order to keep it under the hero model
  position: relative;
  z-index: -2;
  font-weight: 100 !important;
}

.mdx-hero-description--small {
  margin-top: 1rem;
}

.mdx-hero-description--large {
  font-size: 5.0625rem !important;
  line-height: 5.5rem !important;
}
