@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-hero-description {
  // we need position relative because we need the z-index to work in order to keep it under the hero model
  position: relative;
  z-index: -2;
  font-weight: 100 !important;
  text-shadow: 1px 1px 6px rgba(var(--lsd-surface-primary), 1);

  opacity: 0.7;
  line-height: 2.3rem !important;
}

.mdx-hero-description--small {
  //margin-top: 1rem;
  @include lsd.typography('h6');
  max-width: 1200px;
}

.mdx-hero-description--large {
  @include lsd.typography('h4');
}

.mdx-hero-description--medium {
  @include lsd.typography('h3');
}

@include utils.responsive('lg', 'down') {
  .mdx-hero-description {
    @include lsd.typography('subtitle1');
  }

  .mdx-hero-description--large {
    //font-size: 1.875rem !important;
    //line-height: 2.25rem !important;
    //text-transform: uppercase;
  }

  .mdx-hero-description--medium {
    @include lsd.typography('subtitle1');
  }
}
