.root {
  & > div:first-child {
    padding: 0 24px;
    color: #828285;

    &,
    * {
      font-size: 0.75rem;
    }
  }

  ul {
    padding: 0;
  }

  ul li {
    list-style: none;
    margin-top: 1rem;
  }
}
