@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-cta-section {
  display: grid;
  border-top: 1px solid rgb(var(--lsd-border-primary));
}

.mdx-cta-section__title {
  margin-top: 1.5rem;
}

.mdx-cta-section__description {
  margin-top: 2rem;
}

.mdx-cta-section__link {
  margin-top: 2rem;

  button,
  button span {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
  }
}

.mdx-cta-section--with-description {
}

.mdx-cta-section--cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 1.5rem;

  .mdx-cta-section__title {
    grid-column: 1 / 2;
    margin-top: 0;
  }

  .mdx-cta-section__description {
    grid-column: 2 / 3;
    margin-top: 0;
  }

  .mdx-cta-section__link {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

@include utils.responsive('md', 'up') {
  .mdx-cta-section:not(.mdx-cta-section--with-description) {
    .mdx-cta-section__title {
      max-width: 65%;
    }
  }
}

@include utils.responsive('lg', 'down') {
  .mdx-cta-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .mdx-cta-section__title {
    @include lsd.typography('subtitle1');
    margin-top: 1rem;
  }

  .mdx-cta-section__description {
    @include lsd.typography('h5');
    margin-top: 1.5rem !important;
  }

  .mdx-cta-section__link {
    @include lsd.typography('label2');
    margin-top: 2rem;

    button {
      padding: 6px 12px;
    }
  }

  .mdx-cta-section:not(.mdx-cta-section--with-description) {
    .mdx-cta-section__title {
      @include lsd.typography('h5');
    }
  }
}
