@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-cta-section {
  display: grid;
  border-top: 1px solid rgb(var(--lsd-border-primary));

  padding: 24px 0 0 0;

  @include utils.responsive('lg', 'down') {
    padding: 16px 0 0 0;
  }

  .mdx-cta-section__link {
    display: block;
    width: fit-content;
  }

  .mdx-cta-section--align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 936px;
    margin: auto;

    * {
      text-align: center;
    }

    .mdx-cta-button {
      margin-inline: auto;
    }

    .mdx-cta-section__description {
      margin-top: 1.5rem;
    }
  }

  .mdx-cta-section--align-left {
    * {
      text-align: left;
    }
  }

  .mdx-cta-section--align-right {
    * {
      text-align: right;
    }

    .mdx-cta-button {
      margin-left: auto;
    }
  }
}

.mdx-cta-section__header {
  display: flex;
  align-items: center;
  gap: 24px;

  button {
    padding: 6px 12px !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }
}

.mdx-cta-section--no-border {
  border: none !important;

  > * {
    border: none !important;
  }
}

.mdx-cta-section__description {
  margin-top: 1rem;
}

.mdx-cta-section--title-only {
  .mdx-cta-section__description {
    @include lsd.typography('h5', false);
    font-weight: 300;

    max-width: 886px;
  }
}

.mdx-cta-section--title-button {
  .mdx-cta-section__description {
    @include lsd.typography('display4', false);
    font-weight: 300;

    max-width: 886px;
  }

  @include utils.responsive('lg', 'down') {
    .mdx-cta-section__description {
      @include lsd.typography('h4', false);
    }
  }
}

.mdx-cta-section__title {
}

.mdx-cta-section--full-width {
  .mdx-cta-section__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1rem;
  }

  .mdx-cta-section__title {
    @include lsd.typography('h3', false);
  }

  .mdx-cta-section__description {
    @include lsd.typography('h5', false);
  }

  .mdx-cta-section__link {
    grid-area: 2 / 2 / 3 / 3;
  }

  @include utils.responsive('lg', 'down') {
    .mdx-cta-section__container {
      display: block;
    }

    .mdx-cta-section__title {
      margin-top: 1.5rem;
    }
  }
}

.mdx-cta-section--simple {
  .mdx-cta-section__title {
    @include lsd.typography('h2', false);

    margin-top: 1.5rem;
  }

  @include utils.responsive('lg', 'down') {
    .mdx-cta-section__title {
      margin-top: 1.5rem;
    }
  }

  .mdx-cta-section__description {
    @include lsd.typography('h5', false);
  }
}

.mdx-cta-section__list-item-link {
  cursor: pointer;
}

.mdx-cta-section--list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1rem;

  .mdx-cta-section__container {
    grid-column: 1 / 2;
  }

  .mdx-cta-section__title {
    @include lsd.typography('h2', false);

    margin-top: 1.5rem;
  }

  .mdx-cta-section__description {
    @include lsd.typography('h5', false);
  }

  .mdx-cta-section__list {
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;

    > * {
      &:not(:first-child) {
        border-top: 1px solid rgb(var(--lsd-border-primary));
      }
    }

    & > a {
      display: block;
      text-decoration: none;
    }

    .mdx-cta-section__list-item {
      > a > .mdx-cta-section__item-title {
        margin-top: 1.5rem;
        padding: 3px 11px;
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 12px;
        border-radius: 1rem;
        color: rgb(var(--lsd-text-primary));
        border: 1px solid rgb(var(--lsd-border-primary));
      }

      & > a {
        text-decoration: none;
      }

      & > a:hover {
        text-decoration: underline;
      }

      & > .mdx-cta-section__item-description {
        margin-top: 1rem;
      }
    }
  }

  .mdx-cta-section__link {
  }

  @include utils.responsive('lg', 'down') {
    display: block;

    .mdx-cta-section__list {
      margin-top: 4rem;

      & > * {
        border-top: 1px solid rgb(var(--lsd-border-primary));
      }

      & .mdx-cta-section__list-item {
        & > .mdx-cta-section__item-title {
          font-size: 0.875rem !important;
          line-height: 1.25rem !important;
        }

        & > .mdx-cta-section__item-description {
          @include lsd.typography('h4', true);
        }
      }
    }
  }
}

@include utils.responsive('lg', 'down') {
  .mdx-cta-section__title {
    @include lsd.typography('h4', true);
  }

  .mdx-cta-section__description {
    @include lsd.typography('subtitle2', true);
  }
}
