@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-cta-section {
  display: grid;
  border-top: 1px solid rgb(var(--lsd-border-primary));

  padding: 24px 0 0 0;

  @include utils.responsive('lg', 'down') {
    padding: 16px 0 0 0;
  }

  .mdx-cta-section__link {
    display: block;
    width: fit-content;
  }
}

.mdx-cta-section--title-only {
  .mdx-cta-section__title {
    @include lsd.typography('h5', false);
    font-weight: 300;

    max-width: 886px;
  }

  @include utils.responsive('lg', 'down') {
    .mdx-cta-section__title {
      font-size: 1.5rem !important;
      line-height: 2rem !important;
    }
  }
}

.mdx-cta-section--title-button {
  .mdx-cta-section__title {
    @include lsd.typography('display4', false);
    font-weight: 300;

    max-width: 886px;
  }

  @include utils.responsive('lg', 'down') {
    .mdx-cta-section__title {
      @include lsd.typography('h4', false);
    }
  }
}

.mdx-cta-section--full-width {
  .mdx-cta-section__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1rem;
  }

  .mdx-cta-section__title {
    @include lsd.typography('h5', false);
  }

  .mdx-cta-section__description {
    @include lsd.typography('h3', false);
  }

  .mdx-cta-section__link {
    grid-area: 2 / 2 / 3 / 3;
  }

  @include utils.responsive('lg', 'down') {
    .mdx-cta-section__container {
      display: block;
    }

    .mdx-cta-section__description {
      margin-top: 1.5rem;
    }
  }
}

.mdx-cta-section--simple {
  .mdx-cta-section__title {
    @include lsd.typography('h5', false);
  }

  .mdx-cta-section__description {
    @include lsd.typography('h2', false);

    margin-top: 2rem;
  }

  @include utils.responsive('lg', 'down') {
    .mdx-cta-section__description {
      margin-top: 1.5rem;
    }
  }
}

.mdx-cta-section--list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1rem;

  .mdx-cta-section__container {
    grid-column: 1 / 2;
  }

  .mdx-cta-section__title {
    @include lsd.typography('h5', false);
  }

  .mdx-cta-section__description {
    @include lsd.typography('h2', false);

    margin-top: 2rem;
  }

  .mdx-cta-section__list {
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;

    > div {
      &:not(:first-child) {
        border-top: 1px solid rgb(var(--lsd-border-primary));
      }

      > div {
        margin-top: 1.5rem;
        padding: 3px 11px;
        display: inline-block;
        border-radius: 1rem;
        color: rgb(var(--lsd-text-secondary));
        background-color: rgb(var(--lsd-surface-secondary));
      }

      & > p {
        margin-top: 1rem;
      }
    }
  }

  .mdx-cta-section__link {
  }

  @include utils.responsive('lg', 'down') {
    display: block;

    .mdx-cta-section__list {
      margin-top: 4rem;

      & > div {
        border-top: 1px solid rgb(var(--lsd-border-primary));

        & > div {
          font-size: 0.875rem !important;
          line-height: 1.25rem !important;
        }

        & > p {
          @include lsd.typography('h4', true);
        }
      }
    }
  }
}

@include utils.responsive('lg', 'down') {
  .mdx-cta-section__title {
    @include lsd.typography('subtitle2', true);
  }

  .mdx-cta-section__description {
    @include lsd.typography('h4', true);
  }
}
