@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-hero-title {
  font-size: 70px !important;
  line-height: 100% !important;
}

.mdx-hero-title--large {
}

.mdx-hero-title--medium {
}

.mdx-hero-title--uppercase {
  text-transform: uppercase;
}

@include utils.responsive('lg', 'down') {
  .mdx-hero-title {
    font-size: 28px !important;
  }

  .mdx-hero-title--medium {
  }

  .mdx-hero-title--large {
  }
}
