@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-hero-title {
  font-weight: 300 !important;
  z-index: 1;
  text-shadow: 0px 0px 6px rgba(var(--lsd-surface-primary), 0.5);
  @include lsd.typography('h4');
}

.mdx-hero-title--large {
  @include lsd.typography('h1');
  //font-size: 5.0625rem !important;
  //line-height: 5rem !important;
}

.mdx-hero-title--medium {
  @include lsd.typography('h2');
}

.mdx-hero-title--uppercase {
  text-transform: uppercase;
}

@include utils.responsive('lg', 'down') {
  .mdx-hero-title {
    @include lsd.typography('h4');
    text-transform: uppercase;
  }
  .mdx-hero-title--medium {
    @include lsd.typography('h4');
  }

  .mdx-hero-title--large {
    //font-size: 1.875rem !important;
    //line-height: 2.1rem !important;
    font-size: 2.175rem !important;
    line-height: 2.475rem !important;
  }
}
