@use '../../css/utils';

.navbar-sidebar__brand {
  --ifm-navbar-padding-horizontal: 1rem;
}

.navbar {
  --ifm-navbar-height: 3.875rem;
  --ifm-navbar-shadow: none;
  --ifm-navbar-padding-horizontal: 0px;
  --ifm-navbar-padding-vertical: 0.5rem;

  padding-top: 0;
  padding-bottom: 0;

  background: none;
}

@include utils.responsive('lg', 'down') {
  .navbar {
    background: var(--ifm-background-surface-color);
  }
}

.overflow-hidden {
  overflow: hidden !important;
}

.menu__caret {
  z-index: 1;
  width: 3.5rem;

  &::before {
    content: initial;
  }

  &:hover {
    background: initial;
  }
}

.navbar-sidebar__item.menu,
.theme-doc-sidebar-menu {
  li a,
  .theme-doc-sidebar-item-category a {
    padding: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
    border-radius: var(--ifm-button-border-radius);

    font-size: var(--ifm-font-size-base);
    color: #373738;

    .menu__link--active {
      background-color: #eeeef0;
    }
  }

  .menu__list-item-collapsible {
    border-radius: var(--ifm-button-border-radius);

    a::after {
      display: none;
    }

    .dropdown-icon {
      position: absolute;
      right: 1.125rem;
    }
  }

  li.menu__list-item {
    .dropdown-icon {
      transform: rotate(0deg);
      transition: transform var(--ifm-transition-fast);
    }

    &--collapsed {
      .dropdown-icon {
        transform: rotate(-90deg);
      }
    }
  }

  li:not(:first-child) {
    margin-top: calc(var(--ifm-list-item-margin) / 2);
  }
}
