@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-feature-list {
  border-top: 1px solid rgb(var(--lsd-surface-secondary));
  position: relative;
}

.mdx-feature-list__title {
  padding: 24px 0;
}

.mdx-feature-list__feature-index {
  background: rgb(var(--lsd-surface-secondary));
  padding: 0.5rem;
  border-radius: 100%;
  color: rgb(var(--lsd-text-secondary)) !important;
  width: 1.875rem;
  height: 1.875rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.mdx-feature-list__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mdx-feature-list__feature {
  padding: 1rem;
  border-top: 1px solid rgb(var(--lsd-border-primary));

  &:nth-child(odd) {
    .mdx-feature-list__feature-inner {
      border-right: 1px solid rgb(var(--lsd-border-primary));
    }
  }
}

.mdx-feature-list__feature-title {
  margin-top: 1rem;
}

.mdx-feature-list__feature-description {
  margin-top: 8.625rem;
}

.mdx-feature-list__extra {
  margin-top: 3.5rem;
  padding: 0 1rem;
}

@include utils.responsive('lg', 'up') {
  .mdx-feature-list__feature {
    &:nth-child(even) {
      & > div {
        padding-left: 1rem;
      }
    }

    &:nth-child(odd) {
      padding-right: 0;
      padding-left: 0.5rem;
    }
  }
}

@include utils.responsive('lg', 'down') {
  .mdx-feature-list {
  }

  .mdx-feature-list__extra {
    margin-top: 2rem;
    padding: 0;
  }

  .mdx-feature-list__title {
    @include lsd.typography('subtitle1');
    padding: 1rem 0;
  }

  .mdx-feature-list__list {
    grid-template-columns: 1fr;
  }

  .mdx-feature-list__feature {
    border: none;
    padding: 1.5rem 0;
    border-top: 1px solid rgb(var(--lsd-border-primary));

    .mdx-feature-list__feature-index {
      @include lsd.typography('subtitle2');
      width: 1.625rem;
      height: 1.625rem;
    }

    .mdx-feature-list__feature-title {
      @include lsd.typography('h5');
      margin-top: 1rem;
    }

    .mdx-feature-list__feature-description {
      @include lsd.typography('subtitle1');
      margin-top: 3rem;
    }

    .mdx-feature-list__feature-inner {
    }

    &:nth-child(odd) {
      .mdx-feature-list__feature-inner {
        border: none;
      }
    }
  }
}
