@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-event-card {
  display: flex;
  flex-direction: column;
  gap: 24px;

  text-decoration: none !important;
}

.mdx-event-card__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

.mdx-event-card__thumbnail {
  height: 55px;
  border: 1px solid rgba(var(--lsd-border-primary), 0.2);
}

.mdx-event-card__label {
  opacity: 0.6;
}

.mdx-event-card__title {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  overflow: hidden;
  height: 48px;

  &:hover {
    text-decoration: underline !important;
  }
}

.mdx-event-card__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-top: 1px solid rgb(var(--lsd-border-primary));
  padding: 16px 16px 16px 0;
  width: 100%;

  * {
    white-space: pre-wrap;
  }
}
