.FeatureList {
  .FeatureListContainer {
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--ifm-spacing-horizontal);
    grid-row-gap: var(--ifm-spacing-vertical);

    &.n_1 > *:nth-child(n + 1),
    &.n_3 > *:nth-child(n + 3) {
      grid-column: span 2;
    }
  }
}
@media (max-width: 576px) {
  .FeatureListContainer {
    grid-template-columns: 1fr !important;
    grid-auto-rows: calc(
      75vw - calc(2 * var(--ifm-spacing-horizontal))
    ) !important;

    > * {
      grid-column: 1/1 !important;
    }
  }
}
