.navbar__item.dropdown {
  background-color: #eeeef1;
  border-radius: var(--ifm-button-border-radius);
  padding: var(--ifm-button-padding-vertical)
    var(--ifm-button-padding-horizontal);
  font-size: var(--ifm-h6-font-size);

  & > .navbar__link {
    &::after {
      display: none;
    }

    & + svg {
      margin-left: 0.75rem;
    }
  }

  ul {
    margin-top: 5px;
  }
}

[data-theme='dark'] {
  .navbar__item.dropdown {
    background-color: var(--ifm-background-color);
  }
}
