.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

.docItemCol {
  grid-column: span 10;
}

.docItemGrid {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 16px;
}

.toc {
  grid-column: span 3;
}

.gap1 {
  grid-column: span 1;
}

@media (max-width: 997px) {
  .docItemGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 0;
  }

  .docItemCol {
    grid-column: span 2;
  }
}
