@use '../../../css/utils';

.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

.docItemGrid {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 16px;
}

.gap1 {
  grid-column: span 1;
}

.toc {
  grid-column: span 4;
}

.tocMobile {
  & > div {
    display: block !important;
  }
}

@include utils.responsive('lg', 'up') {
  .docItemGrid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 16px;
  }

  .docItemCol {
    grid-column: span 11;
  }
}

@include utils.responsive('xl', 'up') {
  .docItemGrid {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    gap: 16px;
  }

  .docItemCol {
    grid-column: span 14;
  }
}

@include utils.responsive('lg', 'down') {
  .tocMobile {
    display: block;
  }

  .docItemGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 0;
  }

  .docItemCol {
    grid-column: span 2;
  }
}

@include utils.responsive('xl', 'up') {
  .tocMobile {
    display: none;
  }
}

@include utils.responsive('xl', 'down') {
  .toc {
    display: none;
  }
}
