.tocCollapsible {
  background-color: var(--ifm-menu-color-background-active);
  border-radius: var(--ifm-global-radius);
  margin: 1rem 0;
}

.tocCollapsibleContent > ul {
  border-left: none;
  border: 1px solid rgb(var(--lsd-border-primary)) !important;
  border-top: none !important;
  padding: 0.2rem 0;
  font-size: 15px;
}

.tocCollapsibleContent ul li {
  margin: 0.4rem 0.8rem;
}

.tocCollapsibleContent a {
  display: block;
}

.tocCollapsibleExpanded {
  transform: none;
}
