@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-event-info__container {
  display: flex;
  flex-direction: column;
  padding: 16px 24px 0 0;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
  box-sizing: border-box;
  height: 100%;

  border-top: 1px solid rgba(var(--lsd-border-primary));
}

.mdx-event-info__label {
  opacity: 0.6;
}

.mdx-event-info__content {
  white-space: pre-wrap;
}
