@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-news-card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  text-decoration: none !important;
}

.mdx-news-card:hover {
  .mdx-news-card__title {
    text-decoration: underline !important;
  }

  .mdx-news-card__external-link-icon {
    display: flex !important;
  }
}

.mdx-grid > .mdx-grid__content .mdx-news-card {
  .mdx-news-card__title {
    margin-top: 0 !important;
  }
}

.mdx-news-card__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

.mdx-news-card__thumbnail {
  display: flex !important;
  height: 144px;
  border: 1px solid rgba(var(--lsd-border-primary), 0.2);
  width: 100%;
}

.mdx-news-card__info {
  display: flex;
  gap: 8px;
  width: 100%;

  * {
    white-space: pre-wrap;
  }
}

.mdx-news-card__tags {
  display: flex;
  gap: 8px;
  margin-top: 4px;
}

.mdx-news-card-thumbnail__container {
  width: 100%;
  position: relative;
  height: 144px;
}

.mdx-news-card__external-link-icon {
  display: none;
  width: 28px;
  height: 28px;
  box-sizing: border-box;

  justify-content: center;
  align-items: center;

  position: absolute;
  right: 8px;
  bottom: 8px;

  border: 1px solid white;
  z-index: 9999;

  svg > path {
    fill: white;
  }

  & > div {
    margin: unset;
  }
}

@include utils.responsive('lg', 'down') {
  .mdx-news-card__thumbnail {
    height: 128px;
  }

  .mdx-news-card-thumbnail__container {
    height: 128px;
  }
}

@include utils.responsive('md', 'down') {
  .mdx-news-card__thumbnail {
    height: 100%;
  }

  .mdx-news-card-thumbnail__container {
    height: 100%;
  }
}

@include utils.responsive('sm', 'down') {
  .mdx-news-card {
    h3 {
      @include lsd.typography('h5', false);
    }
  }

  .mdx-news-card__thumbnail {
    max-height: 198px;
  }
}
