@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-community-feedback {
  .mdx-section-header__title {
    flex-basis: 100%;
  }

  .mdx-community-feedback__description {
    display: block;
    max-width: 528px;
    margin-top: 24px;
    margin-bottom: 80px;
  }

  .mdx-community-feedback__items {
    display: flex;
    overflow-x: auto;
    align-items: flex-start;
  }

  .mdx-community-feedback__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-shrink: 0;
    width: calc((100% - 32px) / 3);
    min-width: 296px;
    align-self: flex-start;
  }

  .mdx-community-feedback__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(var(--lsd-border-primary));
  }

  .mdx-community-feedback__item-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    min-height: 180px;
  }

  .mdx-community-feedback__media-wrapper {
    position: relative;
    width: 100%;
    .mdx-community-feedback__item-gradient {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 40px;
      pointer-events: none;
      background: linear-gradient(
        to bottom,
        rgba(var(--lsd-theme-secondary), 0) 0%,
        rgba(var(--lsd-theme-secondary), 0.97) 80%,
        rgba(var(--lsd-theme-secondary), 1) 100%
      );
      z-index: 2;
    }
  }

  .mdx-community-feedback__item-header-user {
    display: flex;
    align-items: center;
    gap: 14px;
    text-decoration: none;
  }

  .mdx-community-feedback__item-header-user-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .mdx-community-feedback__item-header-user-handle {
    opacity: 0.5;
  }

  .mdx-community-feedback__item-header-user-info {
    display: flex;
    flex-direction: column;
  }

  .mdx-community-feedback__item-header-link {
    margin: 12px;
  }

  .mdx-community-feedback__item-content-text {
    word-break: break-word;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    align-self: stretch;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mdx-community-feedback__item-see-more {
    margin-top: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 16px;
    text-align: left;
    background: rgb(var(--lsd-theme-secondary));

    &.static {
      position: static;
      margin-top: 4px;
    }
  }

  .mdx-community-feedback__item-see-more-text {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    opacity: 0.6;
  }

  .mdx-community-feedback__item-see-less-text {
    padding: 0;
    cursor: pointer;
    position: relative;
    opacity: 0.6;
    bottom: 18px;
  }

  .mdx-community-feedback__item-image {
    width: 100%;
    object-fit: cover;
    object-position: top;
    margin-top: 16px;
    transition: height 0.3s ease;

    &.collapsed {
      height: 60px;
    }

    &.expanded {
      height: auto;
    }
  }
}

.mdx-community-feedback-buttons {
  margin-bottom: 32px;
}

@include utils.responsive('lg', 'down') {
  .mdx-community-feedback {
    .mdx-community-feedback__inner {
      margin-top: 64px;
    }

    .mdx-community-feedback__description {
      margin-top: 16px;
    }

    .mdx-community-feedback__items {
      margin-left: -32px;
      width: calc(100% + 48px) !important;
      gap: 0 16px;
    }

    .mdx-community-feedback__item {
      padding-left: 16px;
    }

    .mdx-community-feedback__item:last-of-type {
      margin-right: 16px;
    }
  }
}
