@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-roadmap {
  width: 100%;
  border-top: 1px solid rgb(var(--lsd-border-primary));
  padding-top: 24px;
}

.mdx-roadmap__header {
  display: flex;
  flex-direction: row;

  gap: 1rem;

  > * {
    flex-basis: 50%;
  }
}

.mdx-roadmap__timeline {
  margin-top: 6.25rem;

  .mdx-grid-item:last-child {
    .mdx-timeline-item__border {
      display: none;
    }
  }
}

.mdx-roadmap__timeline-item {
  height: 100%;
}

@include utils.responsive('lg', 'down') {
  .mdx-roadmap__header {
    flex-direction: column;

    h2 {
      @include lsd.typography('body1');
    }
  }

  .mdx-roadmap__timeline {
    margin-top: 4rem;
  }
}
