@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-roadmap {
  width: 100%;
}

.mdx-roadmap__timeline {
  margin-top: 64px;

  .mdx-grid-item:last-child {
    .mdx-timeline-item__border {
      display: none;
    }
  }

  .mdx-roadmap__timeline-item--no-border {
    border: none;
  }
}

.mdx-roadmap__timeline-item {
  height: 100%;
}

@include utils.responsive('lg', 'down') {
  .mdx-roadmap__timeline {
    margin-top: 4rem;
  }
}
