@use '../../../css/utils';

.mdx-hero-model {
  --mdx-hero-model-wrapper-scale: 1;
  width: 100vw;
  transform: translateX(
    calc(
      -1 * calc(calc(
              100vw - var(--container-max-width) + calc(var(--content-padding)) *
                4
            ) / 2)
    )
  );
  position: absolute;
  z-index: 0;

  .mdx-hero-model--inner {
    position: relative;
    width: 100%;
    z-index: 0;
    left: 0;
    top: 0;
    canvas {
      pointer-events: unset !important;
    }
  }
}

.mdx-hero-model--top {
  top: 300px;
}

.mdx-hero-model--bottom {
  top: calc(var(--logos-hero-info-height) - 10px);
  .mdx-hero-model--shade {
    bottom: 10vh;
    height: 40vh;
  }
}

.mdx-hero-model--simple {
}

.mdx-hero-model--abstract {
}

.mdx-hero-model--ascii {
  filter: grayscale(100%);
  opacity: 0.65;
  table {
    &,
    * {
      border: none !important;
      font-family: monospace;
      //text-shadow: -5px 5px 0px #d5d5d5, -10px 10px 0px #01cccc, -15px 15px 0px #00bdbd, 2px 2px 2px rgba(206,89,55,0);
      color: rgb(var(--lsd-text-primary));
    }
  }
}

.mdx-hero-model--shade {
  width: 100%;
  height: 30vh;
  position: absolute;

  background: linear-gradient(
    0deg,
    rgb(var(--lsd-surface-primary)) 37%,
    rgb(var(--lsd-surface-primary)) 0%,
    rgba(var(--lsd-surface-primary), 0) 100%
  );
  bottom: -0;
  left: 0;
}

@include utils.responsive('lg', 'down') {
  .mdx-hero-model--simple {
  }

  .mdx-hero-model--top {
    top: calc(calc(var(--logos-hero-info-height) / 1) - 10px);
  }

  .mdx-hero-model--bottom {
  }

  .mdx-hero-model--ascii {
  }

  .mdx-hero-model {
    transform: translate(-12px, 0px);
    width: calc(100vw - 20px);
  }
  .mdx-hero-model--abstract {
  }

  .mdx-hero-model--shade {
    height: 90vh !important;
    bottom: 0vh;
  }
}

@media (max-width: 1440px) and (min-width: 992px) {
  .mdx-hero-model {
    width: calc(100vw + var(--content-padding));
    transform: translateX(calc(-3 * calc(var(--content-padding) + 0px)));
  }
}
