@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-section-header {
  width: 100%;
  padding-top: 24px;
  border-top: 1px solid rgb(var(--lsd-border-primary));

  display: flex;
  flex-direction: row;
  gap: 1rem;

  > * {
    flex-basis: 50%;
  }
}

.mdx-section-header--with-description {
  .mdx-section-header__extra {
    margin-top: 2rem;
  }
}

.mdx-section-header__title {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.mdx-section-header--no-border {
  border-top: none;
}

@include utils.responsive('lg', 'down') {
  .mdx-section-header {
    flex-direction: column;

    &__title {
      @include lsd.typography('subtitle2');
    }

    &__description {
      @include lsd.typography('h4');
    }

    h2 {
      @include lsd.typography('h3');
    }
  }

  .mdx-section-header__title {
    display: flex;
    flex-wrap: wrap;
  }
}
