@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-section-header {
  width: 100%;
  padding-top: 24px;
  border-top: 1px solid rgb(var(--lsd-border-primary));

  display: flex;
  flex-direction: row;
  gap: 1rem;

  > * {
    flex-basis: 50%;
  }
}

.mdx-section-header__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

@include utils.responsive('lg', 'down') {
  .mdx-section-header {
    flex-direction: column;

    &__title {
      @include lsd.typography('subtitle2');
    }

    &__description {
      @include lsd.typography('h4');
    }
  }
}
