@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-input-cta-section__container {
  border-top: 1px solid rgb(var(--lsd-border-primary));
  padding-top: 24px;

  h2 {
    margin-top: 0px !important;
    margin-bottom: 16px;
  }
}

.mdx-input-cta-section__title {
  margin-bottom: 24px !important;
}

.mdx-input-cta-section__cta {
  width: 160px !important;
  height: 40px !important;
}

.input-cta-section__description {
  white-space: pre-wrap;
  margin-bottom: 32px !important;
}

.mdx-input-cta-section__form {
  display: flex;

  gap: 16px;
}

.mdx-input-cta-section__input-fields {
  display: flex;
  gap: 16px;
  width: 100%;

  & > div {
    width: 100%;
  }
}

.mdx-input-cta-section__message {
  display: block;
  margin-top: 12px;
}

form .mdx-input-cta-section__cta {
  width: 146px !important;
}

@include utils.responsive('sm', 'down') {
  .mdx-input-cta-section__input-fields {
    display: flex;
    flex-direction: column;
    gap: 32px;

    & > div {
      width: 100% !important;
    }
  }
}

@include utils.responsive('sm', 'down') {
  .mdx-input-cta-section__container {
    .mdx-input-cta-section__form {
      margin-bottom: -24px;
      flex-direction: column;
      gap: 40px;
    }

    .input-cta-section__description--no-form {
      margin-bottom: 32px !important;
    }
  }

  .input-cta-section__description {
    margin-bottom: 24px !important;
  }
}
