.blogpostsWrapper {
  .blogposts {
    .blogpost {
      background: none;
      //border: 1px solid var(--ifm-color-gray-200);
      p {
        color: var(--ifm-color-gray-500);
      }

      .blogpostMeta {
        margin-bottom: calc(var(--ifm-leading) / 2);
      }

      + .blogpost {
        margin-top: var(--ifm-leading);
      }
    }
  }
}
