@use '@site/src/css/utils';

.root {
  width: 100%;
  margin: 0;

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
  }

  & > div:first-child {
    max-width: var(--doc-sidebar-max-width);
  }

  & > .headerMiddle {
    justify-content: space-between;
    flex-grow: 1;
  }
}

.leftContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  transition: 0.2s;
  transform: translateX(0);

  &.shifted {
    transform: translateX(
      calc(-1 * min(var(--doc-sidebar-max-width), 16.66vw) + 64px)
    );
  }
}

.headerRight {
  justify-content: flex-end;
}

.navbarLogoWrapper {
  & > * {
    margin: 0;
  }
}

.menu {
  @extend %menu-common;

  display: flex;
  flex-direction: row;
}

.sidebarButton {
  border: none;
  background: none;

  cursor: pointer;

  @extend %menu-common;

  width: 52px;
  height: 46px;

  &.expand {
    svg,
    svg * {
      fill: currentColor;
    }
  }

  &:not(.expand) {
    svg,
    svg * {
      stroke: currentColor;
    }
  }
}

%menu-common {
  padding: 6px;
  background-color: var(--ifm-background-surface-color);
  border-radius: 1rem;
}

.headerRight {
  & > *:not(:last-child) {
    margin-right: 34px;
  }
}

.divider {
  height: 11px;
  width: 1px;

  background-color: #d9d9d9; // TODO: use infima variables
}

.shareButton {
  svg,
  svg * {
    fill: currentColor;
  }
}

.searchContainer > div {
  padding: 0;
}

@include utils.responsive('lg', 'down') {
  .root {
    padding: 0 var(--ifm-spacing-horizontal);
  }

  .root > * {
    width: auto;
    flex: 0 0 auto;
    padding: 0;
  }

  .root > div:first-child {
    flex: 0 0 auto;
  }

  .headerMiddle {
    .leftContainer.shifted {
      transform: none;
    }

    nav {
      display: none;
    }
  }

  .headerRight {
    display: none !important;
  }

  .searchContainer {
    display: none;
  }
}

.headerRightMobile {
  visibility: visible;
  display: flex !important;

  flex: 1 1 auto !important;

  align-items: center;
  justify-content: flex-end;

  & > div {
    display: initial;
  }

  & > div:first-child {
    border-radius: 12px;
    padding: 4px 12px;
    height: 2.125rem;

    a {
      font-size: 0.875rem;
    }

    svg {
      margin-left: 0.75rem;
      vertical-align: middle;
    }

    margin-right: 0.75rem;
  }

  .searchButton {
    background-color: #eeeef1;
    padding: 7px 13px;
    border-radius: 12px;
  }

  transition: 0.7s ease-in-out;
  transform: translateX(0%);

  &.shifted {
    transform: translateX(-100%);
    opacity: 0%;
  }
}

/*
Hide color mode toggle in small viewports
 */
@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }
}

@include utils.responsive('lg', 'up') {
  .sidebarButton.mobile {
    display: none;
  }
}

@include utils.responsive('lg', 'down') {
  .sidebarButton.desktop {
    display: none;
  }

  .root > div:first-child,
  .headerMiddle {
    transition: 1s;
  }
}

.root {
  & > div:first-child,
  .headerMiddle {
    opacity: 1;
    visibility: visible;
  }
}

.root.activeMobileSearch {
  & > div:first-child,
  .headerMiddle {
    opacity: 0;
    visibility: hidden;
  }
}

.mobileSearchContainer {
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  position: absolute;

  background-color: var(--ifm-background-surface-color);
  transform: translateX(100%);
  opacity: 0;
  transition: 0.6s ease-in-out;
  visibility: hidden;

  &.visible {
    opacity: 1;
    transform: translateX(0%);
    visibility: visible;
  }
}

.headerRightMobile {
  display: none !important;
  visibility: hidden;

  flex-grow: 1 !important;
}

@include utils.responsive('lg', 'down') {
  .headerRightMobile {
    display: flex !important;
    visibility: visible;
  }
}
