// TODO: use ifm variables

@use '../../../css/utils';

.root {
  width: auto;
  position: relative;
  width: 100%;
  padding: 8px;
  padding-bottom: 0;
  box-sizing: border-box;
}

.textField {
  width: 100% !important;
}

.root input {
}

.root.expanded input {
}

.root.expanded .label {
}

[data-theme='dark'] {
}

@include utils.responsive('lg', 'down') {
  .root {
    padding: 0;
  }
}
