.docMainContainer {
  display: flex;
  width: 100%;
  grid-column: span 14;
}

.docItemWrapper {
  width: 100%;
  padding-top: 16px !important;
  padding-bottom: 80px !important;
}

@media (max-width: 997px) {
  .docMainContainer {
    width: 100%;
    grid-column: span 2;
  }
}
