@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-showcase-card {
  border-top: 1px solid rgb(var(--lsd-border-primary));
}

.mdx-showcase-card__inner {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mdx-showcase-card__logo {
  width: 40px;
  height: auto;
}

.mdx-showcase-card__index {
  width: 30px;
  height: 30px;
  color: rgb(var(--lsd-text-secondary)) !important;
  background-color: rgb(var(--lsd-surface-secondary));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.mdx-showcase-card__name {
}

.mdx-showcase-card__title {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.mdx-showcase-card__description {
  margin-top: 1rem;
  padding-top: 0.5rem;
}

.mdx-showcase-card--large {
  .mdx-showcase-card__logo {
    width: 40px;
  }
}

.mdx-showcase-card--small {
  .mdx-showcase-card__logo {
    width: 34px;
  }
}

.mdx-showcase-card--border-solid {
  .mdx-showcase-card__description {
    border-top: 1px solid rgb(var(--lsd-border-primary));
    padding-top: 1rem;
  }
}

.mdx-showcase-card__cta {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  line-height: 20px;

  svg {
    transform: rotate(-90deg);
  }
}

@include utils.responsive('lg', 'down') {
  .mdx-showcase {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 1rem;
  }

  .mdx-showcase-card__name {
    font-size: 1.375rem !important;
    line-height: 1.75rem !important;
  }

  .mdx-showcase-card__description {
    margin-top: 1rem;
  }

  .mdx-showcase-card__logo {
    width: 34px;
    height: auto;
  }
}
