@use '@site/src/css/utils';

.navbar-sidebar__brand {
  --ifm-navbar-padding-horizontal: 1rem;
}

.navbar {
  --ifm-navbar-height: 3.875rem;
  --ifm-navbar-shadow: none;
  --ifm-navbar-padding-horizontal: 0px;
  --ifm-navbar-padding-vertical: 0.5rem;

  background: none;
}

:root {
}

@include utils.responsive('lg', 'down') {
  .navbar {
    background: var(--ifm-background-surface-color);
  }
}
