.navbar {
  --ifm-navbar-height: 3.875rem;
  --ifm-navbar-background-color: none;
  --ifm-navbar-shadow: none;
  --ifm-navbar-padding-horizontal: 0px;
  --ifm-navbar-padding-vertical: 8px;
}

:root {
}
