// TODO: move styles to css/custom.scss file.

@use '../../css/utils';

.hidden-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  /* Firefox, Edge and IE */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.background-underlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: calc((8 / 12) * 100%);
  background-color: var(--ifm-background-surface-color);
}

:root {
  &,
  body {
    overflow-x: hidden !important;
  }
}

@include utils.responsive('lg', 'down') {
  .background-underlay {
    display: none;
  }
}
