@use '@site/src/css/utils';

.footer {
  display: flex;

  > div {
    width: calc(100% - calc(2 * var(--ifm-spacing-horizontal)));
  }

  .sidebarSpace {
    width: var(--doc-sidebar-width);
    max-width: var(--doc-sidebar-max-width);
    transition: var(--ifm-transition-fast) ease,
      flex var(--ifm-transition-fast) ease;
    flex-grow: 0;
    flex-shrink: 1;

    &.collapsed {
      width: 0;
    }
  }

  .footerContentWrapper {
    opacity: 0.3;
    margin: 0 !important;
    padding: 0 var(--ifm-spacing-horizontal);
    flex-grow: 1;

    will-change: transform;

    .footerContent {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 1;
      flex-shrink: 1;

      .communityLinks,
      .lockup {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .lockup {
        display: flex;
        align-items: center;
      }

      .footerLogoWrapper {
        a {
          opacity: 1 !important;
          display: flex;
        }
      }
    }
  }
}

@include utils.responsive('lg', 'down') {
  .sidebarSpace {
    display: none;
  }
}

@media (min-width: 997px) {
  .footerContentWrapper {
    //max-width: 75% !important;
  }
}
