.exref {
  margin-bottom: var(--ifm-leading);

  .exrefContainer {
    display: flex;
    column-gap: calc(0.8 * var(--ifm-spacing-horizontal));
    align-items: center;

    > *:last-child {
      margin-left: auto;
    }

    //TODO this should go as an option for icon component
    > *:first-child svg {
      opacity: 0.3;
    }
  }
}
