.exref {
  //margin-bottom: var(--ifm-leading);
  margin-bottom: var(--ifm-spacing-vertical);

  .exrefContainer {
    display: flex;
    column-gap: calc(0.8 * var(--ifm-spacing-horizontal));
    align-items: center;

    > *:last-child {
      margin-left: auto;
    }

    //TODO this should go as an option for icon component
    > *:first-child svg {
      opacity: 0.3;
    }
  }
}

@media (max-width: 576px) {
  .exrefContainer {
    flex-direction: column;
    align-items: flex-start !important;
    > *:first-child {
      width: 30px;
    }
    > *:first-child svg {
      width: 100%;
      height: 100%;
      opacity: 0.5 !important;
    }

    .exrefText {
      font-size: var(--ifm-h3-font-size);
      padding-right: 40px;
      margin-bottom: calc(2 * var(--ifm-paragraph-margin-bottom));
    }

    .exrefButton {
      width: 100%;
    }
  }
}
