.container {
  border-radius: var(--ifm-global-radius);

  box-shadow: none;

  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;

  display: flex;
  column-gap: 10px;
}
