.title {
  font-size: 3rem;
}

.blogDescription {
  margin-top: 16px;
}

.blogPostDescription {
  margin-top: 12px;
}

/**
  Blog post title should be smaller on smaller devices
**/
@media (max-width: 576px) {
  .title {
    font-size: 2rem;
  }
}
