.docPage {
  width: 100%;
  position: relative;

  display: grid;

  & > main,
  & > aside {
    grid-area: 1 / 1;
  }

  & > main {
    width: 100%;
    min-width: 0;
  }

  & > aside {
    max-width: var(--doc-sidebar-max-width);

    & > div {
      width: 100%;
    }
  }
}

.docsWrapper {
  display: flex;
}
