@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-cta-button {
  margin-top: 2rem;

  &:hover {
    &,
    * {
      text-decoration: none !important;
    }
  }

  button,
  button span {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
  }

  .lsd-button--large {
    padding: 9px 39px;
  }

  .lsd-button--small {
    padding: 5px 11px;
  }
}

@include utils.responsive('lg', 'down') {
  .mdx-cta-button {
    .lsd-button--large {
      @include lsd.typography('label2');
      padding: 5px 11px;
    }
  }
}
