@mixin typography($variant) {
  font-size: var(--lsd-#{$variant}-fontSize) !important;
  line-height: var(--lsd-#{$variant}-lineHeight) !important;
  font-family: var(--lsd-typography-generic-font-family) !important;
}
