@use './utils';
@use './lsd';

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

/* For readability concerns, you should choose a lighter palette in dark mode. */

[data-theme='dark'] {
  background-color: transparent !important;

  --content-padding: 32px;

  --ifm-color-scheme: dark;
  --ifm-navbar-link-color: rgb(var(--lsd-text-primary));
  --ifm-navbar-background-color: rgb(var(--lsd-surface-primary));
  --ifm-dropdown-link-color: rgb(var(--lsd-text-primary));
  --ifm-dropdown-hover-background-color: rgb(var(--lsd-surface-secondary));

  /* Colors. */
  /*--ifm-dark-value: 10%;*/
  /*--ifm-darker-value: 15%;*/
  /*--ifm-darkest-value: 30%;*/
  /*--ifm-light-value: -15%;*/
  /*--ifm-lighter-value: -30%;*/
  /*--ifm-lightest-value: -50%;*/

  --ifm-background-color: rgb(var(--lsd-surface-primary));

  --ifm-color-white: #fff;
  --ifm-color-black: #000;

  --ifm-color-primary: rgb(var(--lsd-theme-primary));
  --ifm-color-secondary: rgb(var(--lsd-theme-secondary));

  --ifm-color-gray-0: rgb(var(--lsd-surface-primary));
  --ifm-color-gray-100: #f8f8fa;
  --ifm-color-gray-200: #f7f7f8;
  --ifm-color-gray-300: #eeeef0;
  --ifm-color-gray-400: #c0c0c2;
  --ifm-color-gray-500: #828285;
  --ifm-color-gray-600: #474747;
  --ifm-color-gray-700: #373738;
  --ifm-color-gray-800: #1a1a1a;
  --ifm-color-gray-900: #151515;
  --ifm-color-gray-1000: var(--ifm-color-black);
  --ifm-font-color-base-inverse: var(--ifm-color-black);

  /*Code block*/
  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.15);

  /*components*/
  --ifm-hero-background-color: var(--ifm-color-black);
  --ifm-hero-text-color: rgb(var(--lsd-surface-primary));
  --ifm-card-background-color: var(--ifm-color-gray-100) !important;
  --ifm-alert-foreground-color: var(--ifm-color-gray-700);

  --ifm-button-background-color: rgb(var(--lsd-surface-primary));

  /*spacing and details*/
  --ifm-global-border-width: 1px;
  --ifm-global-radius: 0.6rem;

  --ifm-hover-overlay: rgba(0, 0, 0, 0.05);

  /* Typography. */
  --ifm-font-family-base: var(--lsd-typography-generic-font-family);
  --ifm-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --lgs-font-family-secondary: Georgia, 'Times New Roman', serif;

  --ifm-font-size-base: 100%;
  --ifm-line-height-base: 1.625;

  --ifm-font-size-secondary: 100%;
  --ifm-line-height-secondary: 1.5;

  --ifm-font-weight-light: 400;
  --ifm-font-weight-normal: 400;
  --ifm-font-weight-semibold: 400;
  --ifm-font-weight-bold: 400;
  --ifm-font-weight-base: var(--ifm-font-weight-normal);

  --ifm-h1-font-size: 4rem;
  --ifm-h2-font-size: 2rem;
  --ifm-h3-font-size: 1.25rem;
  --ifm-h4-font-size: 1.15rem;
  --ifm-h5-font-size: 1rem;
  --ifm-h6-font-size: 0.85rem;

  /* Spacing. */
  --ifm-global-spacing: 0.67rem;
  --ifm-spacing-vertical: var(--ifm-global-spacing);
  --ifm-spacing-horizontal: 0.75rem;

  --ifm-image-alignment-padding: 1.25rem;
  /* Leading is the distance between two baselines */
  /* TODO: add appropriate mobile leading */
  --ifm-leading-desktop: 1.25;
  --ifm-leading: calc(var(--ifm-leading-desktop) * 1rem);
  --ifm-list-left-padding: 2rem;
  --ifm-list-margin: 1rem;
  --ifm-list-item-margin: 0.25rem;
  --ifm-list-paragraph-margin: 1rem;

  /* Inline code */
  --ifm-code-background: rgb(var(--lsd-text-primary)) !important;

  /* CodeBlock */
  --ifm-pre-padding: 1.125rem;

  /* Links. */
  --ifm-link-decoration: none;

  /* Paragraphs. */
  --ifm-paragraph-margin-bottom: var(--ifm-leading);

  /* Blockquotes. */
  --ifm-blockquote-border-left-width: 3px;
  --ifm-blockquote-shadow: none;

  /* Horizontal Rules. */
  --ifm-hr-height: 1px;
  --ifm-hr-margin-vertical: 1.5rem;
  --ifm-scrollbar-size: 7px;

  --ifm-alert-border-radius: var(--ifm-global-radius);
  --ifm-alert-border-width: 0px; /* For users that want to easily add a border */
  --ifm-alert-border-left-width: 5px;
  --ifm-alert-padding-horizontal: var(--ifm-spacing-horizontal);
  --ifm-alert-padding-vertical: var(--ifm-spacing-vertical);
  --ifm-alert-shadow: var(--ifm-global-shadow-lw);
  --ifm-avatar-intro-margin: 1rem;
  --ifm-avatar-intro-alignment: inherit;
  --ifm-avatar-photo-size: 3rem;
  --ifm-badge-border-radius: var(--ifm-global-radius);
  --ifm-badge-border-width: var(--ifm-global-border-width);
  --ifm-badge-padding-horizontal: calc(var(--ifm-spacing-horizontal) * 0.5);
  --ifm-badge-padding-vertical: calc(var(--ifm-spacing-vertical) * 0.25);
  --ifm-breadcrumb-border-radius: 1.5rem;
  --ifm-breadcrumb-spacing: 0.5rem;
  --ifm-breadcrumb-padding-horizontal: 0.8rem;
  --ifm-breadcrumb-padding-vertical: 0.4rem;
  --ifm-breadcrumb-size-multiplier: 1;
  --ifm-breadcrumb-separator: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 256 256"><g><g><polygon points="79.093,0 48.907,30.187 146.72,128 48.907,225.813 79.093,256 207.093,128"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');
  --ifm-breadcrumb-separator-filter: none;
  --ifm-breadcrumb-separator-size: 0.5rem;
  --ifm-breadcrumb-separator-size-multiplier: 1.25;

  --ifm-button-padding-horizontal: var(--ifm-spacing-horizontal);
  --ifm-button-padding-vertical: 0.4rem;

  --ifm-button-size-multiplier: 1;
  --ifm-button-transition-duration: var(--ifm-transition-fast);
  --ifm-button-border-radius: calc(
    var(--ifm-global-radius) * var(--ifm-button-size-multiplier)
  );
  --ifm-button-group-spacing: 2px;

  --ifm-card-border-radius: var(--ifm-global-radius);
  --ifm-card-horizontal-spacing: var(--ifm-spacing-horizontal);
  --ifm-card-vertical-spacing: var(--ifm-spacing-vertical);

  --ifm-footer-link-horizontal-spacing: 0;
  --ifm-footer-padding-horizontal: var(--content-padding);
  --ifm-footer-padding-vertical: 24px;
  --ifm-footer-background-color: transparent;

  --ifm-menu-link-padding-horizontal: var(--ifm-spacing-horizontal);
  --ifm-menu-link-padding-vertical: 0.375rem;
  --ifm-menu-color: rgb(var(--lsd-text-primary), 0.6);
  --ifm-menu-color-background-active: transparent;

  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.5)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
  --ifm-menu-link-sublist-icon-filter: none;
  --ifm-navbar-height: 80px;
  --ifm-navbar-item-padding-horizontal: 0.75rem;
  --ifm-navbar-item-padding-vertical: 0.25rem;
  --ifm-navbar-padding-horizontal: var(--content-padding);
  --ifm-navbar-padding-vertical: calc(var(--ifm-spacing-vertical) * 0.5);
  --ifm-navbar-shadow: var(--ifm-global-shadow-lw);
  --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
  --ifm-navbar-sidebar-width: 83vw;
  --ifm-pagination-border-radius: var(--ifm-global-radius);
  --ifm-pagination-font-size: 1rem;
  --ifm-pagination-item-active-background: var(--ifm-hover-overlay);
  --ifm-pagination-page-spacing: 0.2em;
  --ifm-pagination-padding-horizontal: calc(var(--ifm-spacing-horizontal) * 1);
  --ifm-pagination-padding-vertical: calc(var(--ifm-spacing-vertical) * 0.25);
  --ifm-pagination-nav-border-radius: var(--ifm-global-radius);
  --ifm-pills-spacing: 0.125rem;
  --ifm-tabs-padding-horizontal: 1rem;
  --ifm-tabs-padding-vertical: 1rem;

  --ifm-alert-background-color: transparent;
  --ifm-color-secondary-contrast-background: transparent;
  --ifm-color-success-contrast-background: transparent;
  --ifm-color-info-contrast-background: transparent;
  --ifm-color-warning-contrast-background: transparent;
  --ifm-color-danger-contrast-background: transparent;
  --ifm-alert-border-radius: none;

  --note: #d4d5d8;
  --tip: #6ace4b;
  --caution: #ddaa39;
  --danger: #e46967;
  --info: #68b1d0;

  --ifm-color-secondary-dark: var(--note);
  --ifm-color-secondary-light: var(--note);
  --ifm-color-success-dark: var(--tip);
  --ifm-color-success-light: var(--tip);
  --ifm-color-info-dark: var(--info);
  --ifm-color-info-light: var(--info);
  --ifm-color-warning-dark: var(--caution);
  --ifm-color-warning-light: var(--caution);
  --ifm-color-danger-dark: var(--danger);
  --ifm-color-danger-light: var(--danger);

  --ifm-footer-link-color: rgb(var(--lsd-text-primary));
  --ifm-color-content-secondary: rgb(var(--lsd-text-primary));

  --ifm-hero-background-color: #f8f8fa;
  --ifm-hero-text-color: var(--ifm-color-black);
}

@include utils.responsive('lg', 'down') {
  :root {
    --ifm-background-color: rgb(var(--lsd-surface-primary));
  }
}

body {
  background-color: rgb(var(--lsd-surface-primary));
}

svg * {
  fill: rgb(var(--lsd-text-primary));
}

.grid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 16px;
}

.grid-item {
  grid-column: span 4;

  &.w-1 {
    grid-column: span 1;
  }

  &.w-2 {
    grid-column: span 2;
  }

  &.w-3 {
    grid-column: span 3;
  }

  &.w-4 {
    grid-column: span 4;
  }

  &.w-5 {
    grid-column: span 4;
  }

  &.w-6 {
    grid-column: span 6;
  }

  &.w-7 {
    grid-column: span 7;
  }

  &.w-8 {
    grid-column: span 8;
  }

  &.w-9 {
    grid-column: span 8;
  }

  &.w-10 {
    grid-column: span 10;
  }

  &.w-11 {
    grid-column: span 10;
  }

  &.w-12 {
    grid-column: span 12;
  }

  &.w-13 {
    grid-column: span 12;
  }

  &.w-14 {
    grid-column: span 14;
  }

  &.w-15 {
    grid-column: span 14;
  }

  &.w-16 {
    grid-column: span 16;
  }

  &.w-17 {
    grid-column: span 17;
  }

  &.w-18 {
    grid-column: span 18;
  }

  &.w-19 {
    grid-column: span 18;
  }

  &.w-20 {
    grid-column: span 18;
  }

  &.w-21 {
    grid-column: span 18;
  }

  &.w-22 {
    grid-column: span 18;
  }

  &.w-23 {
    grid-column: span 18;
  }

  &.w-24 {
    grid-column: span 24;
  }
}

.table-of-contents__link--active {
  color: rgb(var(--lsd-text-primary)) !important;
}

.table-of-contents__link:hover {
  color: rgb(var(--lsd-text-primary)) !important;
}

.dropdown__link--active {
  color: rgb(var(--lsd-text-secondary)) !important;
}

code {
  color: rgb(var(--lsd-text-primary));
  border-radius: 0;
  background: rgba(255, 255, 255, 0.15);
}

a code {
  color: rgb(var(--lsd-text-primary));
}

/* sidebar */
:root {
  --doc-sidebar-width: 16.66vw !important;
  --doc-sidebar-max-width: 320px;

  --ifm-navbar-item-padding-vertical: 8px;
  --ifm-navbar-item-padding-horizontal: 12px;
}

.card,
.alert,
.theme-code-block {
  box-shadow: none !important;
}

.sans {
  font-family: var(--lgs-font-family-secondary);
  line-height: var(--ifm-line-height-secondary);
}

.sub1 {
  font-size: var(--ifm-h1-font-size);
}
.sub2 {
  font-size: var(--ifm-h2-font-size);
}
.sub3 {
  font-size: var(--ifm-h3-font-size);
}
.sub4 {
  font-size: var(--ifm-h4-font-size);
}
.sub5 {
  font-size: var(--ifm-h5-font-size);
}
.sub6 {
  font-size: var(--ifm-h6-font-size);
}

.markdown a {
  text-decoration: underline;
  text-decoration-color: var(--ifm-color-gray-300);
  text-underline-offset: 0.3rem;
}

.markdown > h2 {
  letter-spacing: -1.5px;
}

.card {
  padding: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
}

small {
  font-size: var(--ifm-h6-font-size);
}

.card {
  padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
}

.table-of-contents__left-border {
  border: none !important;
}

.menu__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown__link:hover {
  color: rgb(var(--lsd-text-secondary));
}

.breadcrumbs__item {
  opacity: 0.7;
}

.breadcrumbs__item--active {
  opacity: 1;
}

.breadcrumbs__item:not(:last-child):after {
  content: '/';
  opacity: 1;
  background: none;
}

.breadcrumbs__link {
  padding: 0;
}

.navbar {
  padding-inline: 0;
  height: 80px;
}

.navbar__inner {
  align-items: center;
}

.row {
  position: relative;
  margin: 0;
}

// TODO temporary style fix for the logo
.navbar__logo img {
  filter: invert(1);
}

.theme-doc-version-banner * {
  color: #fff;
  text-decoration-color: #fff !important;
}

.theme-doc-version-banner:hover * {
  color: #fff;
  text-decoration-color: #fff !important;
}

div.w-10 > a {
  padding-left: 0;
  padding-right: 16px;
}

div.w-10 > a:not(:last-child) {
  &:after {
    content: '•';
    margin-left: 16px;
    text-decoration: none;
    display: inline-block;
  }
}

.menu__link--active {
  border-left: 1px solid rgb(var(--lsd-border-primary));
  border-radius: 0;
}

.menu__list-item-collapsible > a {
  border: none !important;
}

.table-of-contents__link--active code {
  color: rgb(var(--lsd-text-secondary)) !important;
  opacity: 0.7;
}

.table-of-contents {
  padding: 0;
}

.table-of-contents a {
  padding-left: 16px;
}

.table-of-contents__link--active {
  padding-left: 16px;
  border-left: 1px solid rgb(var(--lsd-border-primary));
}

.cursor-pointer {
  cursor: pointer;
}

.navbar__item {
  display: inline-flex;
  align-items: center;
}

.dropdown > .navbar__link:after {
  display: none;
}

.margin-left-8 {
  margin-left: 8px;
}

.pagination-nav__link {
  display: flex;
  align-items: center;
  gap: 18px;
  border: 1px solid rgb(var(--lsd-border-primary));
  border-radius: 0;
  padding: 10px 14px;
}

.pagination-nav__link--next {
  justify-content: flex-end;
}

.pagination-nav__label::after {
  display: none;
}

.pagination-nav__label::before {
  display: none;
}

.footer__link-item {
  display: inline-block;
}

.footer__item {
  white-space: nowrap;
}

@include utils.responsive('lg', 'down') {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }

  .navbar {
    display: flex;
    padding-inline: 0;
    height: 56px;
    padding: 12px 16px;
  }

  .footer {
    padding: 24px 16px;
  }

  .desktop {
    display: none;
  }
}

@include utils.responsive('sm', 'down') {
  :root {
    --ifm-global-spacing: 0.5rem;
    --ifm-spacing-vertical: var(--ifm-global-spacing);
    --ifm-spacing-horizontal: var(--ifm-global-spacing);

    --ifm-button-size-multiplier: 1.25;

    --ifm-button-padding-horizontal: calc(
      var(--ifm-button-size-multiplier) * var(--ifm-spacing-horizontal)
    );
    --ifm-button-padding-vertical: calc(
      var(--ifm-button-size-multiplier) * var(--ifm-spacing-vertical)
    );

    --ifm-alert-padding-horizontal: calc(2 * var(--ifm-spacing-horizontal));
    --ifm-alert-padding-vertical: calc(2 * var(--ifm-spacing-vertical));
  }

  .markdown > h2 {
    --ifm-h2-font-size: 1.75rem;
  }
  .markdown h4 {
    --ifm-h4-font-size: 1.25rem !important;
  }

  .footer {
    > div {
      display: flex !important;
      flex-direction: column-reverse;
      gap: 72px !important;
    }
  }

  .footer__links {
    display: flex !important;
    flex-direction: column !important;
    gap: 24px !important;
  }

  .col.footer__col {
    margin-bottom: 0 !important;
    padding-inline: 0 !important;
  }
}

.main-wrapper {
  padding: 0 var(--content-padding);

  & > div {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 1rem;

    aside {
      width: auto;
      grid-column: 1 / 4;
      border: none;
    }

    main {
      grid-column: 5 / 19;
      max-width: none;
    }
  }
}

.main-wrapper {
  // website pages

  > .container {
    margin-top: 0 !important;
    margin-bottom: 80px !important;
  }

  & > main {
    padding: 0;

    &,
    > .row,
    & > .row > .col {
      width: 100% !important;
      flex-basis: 100% !important;
      max-width: unset;
      padding: 0;
      margin: 0;
      flex: unset;
    }
  }
}

.footer {
  border-top: 1px solid rgb(var(--lsd-text-primary));
  margin-bottom: 40px;

  > div {
    max-width: unset;
    padding: unset;
    margin: unset;
    width: 100% !important;

    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 1rem;
  }
}

.footer__title {
  @include lsd.typography('label1');
  margin-bottom: 4px;
}

.footer__links {
  margin-bottom: 0;
  grid-column: 5 / 19;
  grid-row: 1 / 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 1rem;
}

.footer__col {
  grid-template-columns: span 1;
}

.footer__items {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.footer__item {
  display: inline-block;

  &,
  a {
    @include lsd.typography('label1');
  }

  a {
    text-decoration: underline;
  }

  &:not(:last-child) {
    &::after {
      content: '•';
      margin-left: 8px;
      text-decoration: none;
      display: inline-block;
    }
  }
}

.footer__bottom {
  text-align: unset;
  grid-column: 1 / 4;
  grid-row: 1 / 1;

  & > div:first-of-type {
    display: none;
  }
}

.footer__copyright {
  @include lsd.typography('body2');
}

.footer__logo {
  margin: 0 !important;
}

.navbar__inner {
  padding: 0 var(--content-padding);
}

@include utils.responsive('lg', 'up') {
  .navbar__inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .navbar__left {
    flex-grow: 0;
    flex-basis: calc(1 / 12 * 100%);
  }

  .navbar__left-items {
    flex: 1 0;
  }

  .navbar__right-items {
  }
}

@include utils.responsive('xl', 'up') {
  .navbar__inner {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(18, 1fr);
    padding: 0 var(--content-padding);
  }

  .navbar__left {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar__left-items {
    grid-column: 5 / 14;
  }

  .navbar__right-items {
    grid-column: 14 / 19;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

@include utils.responsive('lg', 'down') {
  .main-wrapper > div {
    display: block;
    > main {
    }
  }
}
