.TeamList {
  .TeamListContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-column-gap: calc(0.7 * var(--ifm-global-spacing));
    grid-row-gap: calc(0.6 * var(--ifm-global-spacing));

    &.withSidebarHide {
      grid-template-columns: repeat(3, 1fr);
      .memberCard {
        grid-template-rows: 320px 60px;
      }
    }

    .memberCard {
      box-shadow: none;
      display: grid;
      grid-template-rows: 400px 60px;
      grid-column-gap: calc(0.7 * var(--ifm-global-spacing));
      grid-row-gap: calc(0.6 * var(--ifm-global-spacing));

      .memberCardImage {
      }

      .memberCardImage img {
        object-fit: cover;
        height: 100%;
        border-radius: 8px;
      }

      .memberCardCaption {
        border-radius: 8px;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;

        h5 {
          margin: 0;
        }
        .memberEmail {
          color: var(--ifm-color-gray-500);
        }

        .memberSocials {
          display: flex;
          align-items: center;
          opacity: 0.3;
          gap: calc(var(--ifm-spacing-horizontal) * 0.5);
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .TeamListContainer {
    grid-column-gap: calc(1 * var(--ifm-spacing-horizontal)) !important;
    grid-row-gap: calc(1 * var(--ifm-spacing-vertical)) !important;
  }

  .memberCard {
    grid-template-rows: 270px 110px !important;
    grid-column-gap: calc(1 * var(--ifm-spacing-horizontal)) !important;
    grid-row-gap: calc(1 * var(--ifm-spacing-vertical)) !important;
  }

  .memberCardCaption {
    flex-direction: column !important;
    gap: 10px !important;
    .memberSocials {
      height: 30px;
      gap: 16px !important;
      opacity: 0.5 !important;
      a {
        width: 25px;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
