@use '../../../css/utils';

.mdx-hero-video {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  position: relative;
  flex-grow: 1;

  pointer-events: none;

  --hero-video-height: 120%;
  --hero-video-min-height: 100vh;
  --hero-video-offset-y: -150px;
  --hero-video-scale: 1.70951586;

  --hero-video-height-mobile: 120%;
  --hero-video-min-height-mobile: 100vh;
  --hero-video-offset-y-mobile: -50px;
  --hero-video-scale-mobile: 1.70951586;

  & > * {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transform: translateY(var(--hero-video-offset-y));

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--hero-video-height);
    min-height: var(--hero-video-min-height);
  }

  .mdx-hero-video__placeholder {
    opacity: 0;
    visibility: hidden;
  }

  img {
    object-fit: contain;
  }

  img,
  video {
    transform-origin: top center;
    object-position: top;

    height: 100%;
    width: auto;
    max-width: calc(var(--container-max-width) * var(--hero-video-scale));
  }
}

.mdx-hero-video--loading {
  .mdx-hero-video__video {
    opacity: 0;
    visibility: hidden;
  }

  .mdx-hero-video__placeholder {
    opacity: 1;
    visibility: visible;
  }
}

@include utils.responsive('lg', 'down') {
  .mdx-hero-video {
    > * {
      height: var(--hero-video-height-mobile);
      min-height: var(--hero-video-min-height-mobile);
      transform: translateY(var(--hero-video-offset-y-mobile));
    }

    img,
    video {
      max-width: calc((100vw - 32px) * var(--hero-video-scale-mobile));
    }
  }
}
