@use '../../../css/utils';

.mdx-hero-video {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  position: relative;
  flex-grow: 1;

  pointer-events: none;

  --hero-video-scale: 58%;
  --hero-video-offset-y: -10%;
  --hero-video-scale-mobile: 117.8%;
  --hero-video-offset-y-mobile: -10%;

  & > * {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transform: translateY(var(--hero-video-offset-y));

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .mdx-hero-video__placeholder {
    opacity: 0;
    visibility: hidden;
  }

  img {
    object-fit: contain;
  }

  img,
  video {
    transform: scale(var(--hero-video-scale));
    transform-origin: top center;
    object-position: top;

    height: 100%;
    max-width: calc(var(--container-max-width) / var(--hero-video-scale));
  }
}

.mdx-hero-video--loading {
  .mdx-hero-video__video {
    opacity: 0;
    visibility: hidden;
  }

  .mdx-hero-video__placeholder {
    opacity: 1;
    visibility: visible;
  }
}

@include utils.responsive('lg', 'down') {
  .mdx-hero-video {
    > * {
      transform: translateY(var(--hero-video-offset-y-mobile));
    }

    img,
    video {
      width: 100%;
      transform: scale(var(--hero-video-scale-mobile));
      max-width: calc(
        var(--container-max-width) / var(--hero-video-scale-mobile)
      );
    }
  }
}
