@use '../../../css/utils';
@use '../../../css/lsd';

.mdx-timeline-item {
  width: 193px;
  min-height: 306px;
  justify-content: space-between;
  gap: 1rem;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 23px;
  border-bottom: 1px solid rgb(var(--lsd-border-primary));
  scroll-snap-align: start !important;
}

.mdx-timeline-item__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.mdx-timeline-item__period-container {
  width: 100%;
  position: relative;
}

.mdx-timeline-item__border {
  top: 0;
  left: 0;
  width: calc(100% + 1rem);
  height: 50%;
  position: absolute;
  border-bottom: 1px solid rgb(var(--lsd-border-primary));
  z-index: -1;
}

.mdx-timeline-item--border-dashed {
  .mdx-timeline-item__border {
    border-bottom-style: dashed;
  }
}

.mdx-timeline-item__period {
  padding: 3px 12px;
  display: inline-block;
  border-radius: 10rem;
}

.mdx-timeline-item__period--filled {
  color: rgb(var(--lsd-text-secondary)) !important;
  background-color: rgb(var(--lsd-surface-secondary));
  border: 1px solid rgb(var(--lsd-border-secondary));
}

.mdx-timeline-item__period--transparent {
  color: rgb(var(--lsd-text-primary)) !important;
  background-color: rgb(var(--lsd-surface-primary));
  border: 1px solid rgb(var(--lsd-border-primary));
}

.mdx-timeline-item__item:last-child {
  .mdx-timeline-item__border {
    display: none;
  }
}

.mdx-timeline-item__description {
  margin-top: 24px;
  margin-bottom: auto;
}

@include utils.responsive('lg', 'down') {
  .mdx-timeline-item {
    width: 204px;
  }
}
