@use '../../../css/utils';

.scrollToBottom {
  --offset-y: -2rem;

  z-index: 100;
  position: absolute;
  background: rgb(var(--lsd-surface-primary)) !important;
  transition: all 0.2s ease-in-out;
  transform: translateY(-2rem);
  opacity: 1;

  &.hide {
    opacity: 0;
    transform: translateY(calc(-100% + var(--offset-y) - 0.625rem));
  }

  top: min(
    calc(100 * var(--vh) - var(--ifm-navbar-height)),
    calc(var(--maxTop) - var(--ifm-navbar-height))
  );
  transform: translateY(calc(-100% + var(--offset-y)));
}

@include utils.responsive('lg', 'down') {
  .scrollToBottom {
    --offset-y: -1rem;
  }
}
