@use '../../css/utils';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(var(--lsd-surface-primary));
  z-index: 201;
  opacity: 0;
  visibility: hidden;
}

.navWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 203;
  opacity: 0;
  visibility: hidden;

  pointer-events: none;

  & > * {
    pointer-events: initial;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--ifm-navbar-height);
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--ifm-navbar-padding-vertical)
    var(--ifm-navbar-padding-horizontal);
  background: rgb(var(--lsd-surface-primary));
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.wrapper {
  position: relative;

  .fullscreenButton {
    display: none;
  }

  &:not(.active) {
    .fullscreenButton {
      transition: 0.3s;
      position: absolute;
      bottom: 8px;
      right: 8px;
      background: rgb(var(--lsd-surface-primary));
    }

    @include utils.responsive('lg', 'up') {
      .fullscreenButton {
        display: flex;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        position: absolute;
        bottom: 8px;
        right: 8px;
        background: rgb(var(--lsd-surface-primary));
      }

      &:hover {
        .fullscreenButton {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

@include utils.responsive('lg', 'down') {
  .wrapper > div {
    overflow: visible !important;
  }

  .nav {
    height: 56px;
  }
}
