@use '../../../css/utils';
@use '../../../css/lsd';

:root {
  --mobile-width: 253px;
  --mobile-height: 176px;
}

.mdx-profile-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 1rem 0 1rem;
  border-top: 1px solid rgb(var(--lsd-border-primary));
}

.mdx-profile-card__profile {
  display: flex;
  gap: 24px;
}

.mdx-profile-card__profile-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px !important;
  height: 52px !important;
  border-radius: 50%;
  border: 1px solid rgb(var(--lsd-border-primary));

  svg {
    width: 40px !important;
    height: 40px !important;

    rect {
      fill: unset !important;
    }
  }
}

.mdx-profile-card__profile-image {
  width: 52px !important;
  height: 52px !important;
  border-radius: 50%;
}

.mdx-profile-card__name {
}

.mdx-profile-card__buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;

  height: 16px;
  align-items: center;
  margin-top: 8px;
}

.mdx-profile-card__link {
  text-decoration: none;
  height: fit-content;
  position: relative;

  svg {
    width: 16px;
    height: 16px;
  }
}

@include utils.responsive('lg', 'down') {
  .mdx-profile-card {
    grid-template-columns: 1fr;
  }
}

@include utils.responsive('md', 'down') {
  .mdx-profile-card {
    flex: 0 0 var(--mobile-width);
    width: var(--mobile-width);
    height: var(--mobile-height);
    scroll-snap-align: start !important;
  }

  .mdx-profile-card__profile {
    gap: 16px;
  }

  .mdx-profile-card__name {
    @include lsd.typography('h5');
  }
}
