@use '../../../css/utils';
@use '../../../css/lsd';

:root {
  --card-height: 188px;
  --mobile-width: 253px;
  --mobile-height: 176px;
}

.mdx-profile-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border: 1px solid rgb(var(--lsd-border-primary));
  height: var(--card-height);
}

.mdx-profile-card__profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mdx-profile-card__avatar {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;

  svg {
    width: 40px !important;
    height: 40px !important;

    rect {
      fill: unset !important;
    }
  }
}

.mdx-profile-card__name {
  @include lsd.typography('h4');
}

.mdx-profile-card__buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}

.mdx-profile-card__link {
  text-decoration: none;
  height: fit-content;
  position: relative;
  max-width: calc(50% - 4px);
}

.mdx-profile-card__button {
  padding: 4px 12px 4px 10px !important;
  height: 28px !important;
  max-width: 100% !important;

  > span {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  svg {
    width: 14px;
    height: 14px;
  }
}

.mdx-profile-card__link__label {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mdx-profile-card__label {
  text-align: center;
}

@include utils.responsive('lg', 'down') {
  .mdx-profile-card {
    grid-template-columns: 1fr;
  }
}

@include utils.responsive('md', 'down') {
  .mdx-profile-card {
    flex: 0 0 var(--mobile-width);
    width: var(--mobile-width);
    height: var(--mobile-height);
    scroll-snap-align: start !important;
  }

  .mdx-profile-card__profile {
    gap: 16px;
  }

  .mdx-profile-card__name {
    @include lsd.typography('h5');
  }
}
