.tocCollapsible {
  background-color: transparent;
  border-radius: var(--ifm-global-radius);
  border: 1px solid #eeeef1;
  margin: 1rem 0;
}

.tocCollapsible,
.tocCollapsible * {
  font-size: 0.875rem;
  color: var(--ifm-black-color);
}

.divider {
  width: 100%;
  padding: 0rem 1.125rem;
}

.divider > div {
  height: 1px;
  background-color: #eeeef1;
}

.tocCollapsibleContent > ul {
  border-left: none;
  padding: 0.75rem 1.125rem;
  font-size: 15px;
}

.tocCollapsibleContent ul li {
  margin: 4px 0;
}

.tocCollapsible ul > li li {
  margin: 0 2.25rem;
}

.tocCollapsibleContent a {
  display: block;
}

.tocCollapsibleExpanded {
  transform: none;
}
